body {
    margin: 20px;
    font-family: "cwTeXFangSong";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    background-color: #05002e;
    font-size: 30px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
    display: block;
}

label {
    display: block;
}